.script-data {
    padding-bottom: 10px;
}

/*.script-animation-data {
    padding-bottom: 10px;
}*/

.script-hitboxes-data{

}

.view-selection{
    position: absolute;
    left:50%;
}

.view-selection span{
    position: relative;
    left:-50%;
    padding-left:10px;
    padding-right: 10px;
}

.view-selection span a{
    cursor: pointer;
}

.script-select{
    text-align: center;
}

.script-select select{
    font-size: 2rem;
}

#character-main {
    padding: 0px 15px;
}

#character-name{
    text-align: center;
}

#character-image {
    width: 250px;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

#related{
    float:left;
}

#options{
    clear: left;
    float: left;
    margin-top: 10px;
    padding-bottom: 25px;
}

#character-data{
    clear:both;
    margin-top: 10px;
    padding-bottom: 20px;
}

thead{
    border-bottom: 1px solid black;
}

td{
    border:none;
}

.hitbox-table{
    width:100%;
}

.dot-underline{
    border-bottom: 1px dotted black;
}

.script {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.7rem;
    width: 100%;
    padding: 15px;
    border: 2px dashed black;
    /*background: rgb(226, 226, 226);*/
}

.script span{
    display:inline-block;
    padding-bottom: 4px;
}

.script-tab {
    padding-left: 1em;
}

.script-hidden{
    display:none;
}

.param-list td{
    vertical-align: middle;
}

@media screen and (max-width: 720px) {
    .script {
        font-size: 1.6rem;
    }

    .script span{
        padding-bottom: 6px;
    }

    .script-select select{
        width:100%;
    }
}